/* css/estilos.css */
/*Resat básico*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*esta ragla elimina los márgenes y el relleno predeterminados de todos los elementos y establece el modelo de caja para incluir el relleno y el borde en el ancho y alto del elemento*/
body {
  font-family: Arial, sans-serif;
  color: #3f3f3f;
  background-color: #d5c0c0;
} /*esta regla define la fuente y color del texto en el documento*/
h1 {
  color: #1f4e79;
  font-size: 32px;
  text-align: center;
}

